body { margin: 0; }


canvas {
    width: 100%;
    height: 100%
}

i {
    border: solid white;
    border-width: 0 .2em .2em 0;
    display: inline-block;
    padding: 1em;
}

#nav-left {
    position: absolute;
    right: 98%;
    top: 50%;
    transform: translateY( -50% );
}

#nav-right {
    position: absolute;
    left: 98%;
    top: 50%;
    transform: translateY( -50% );
}

.left {
    transform: rotate( 135deg );
    -webkit-transform: rotate( 135deg );
}

.right {
    transform: rotate( -45deg );
    -webkit-transform: rotate( -45deg );
}

@media only screen and (max-width: 1281px){
	#nav-left {
        right: 94%;
    }
    
    #nav-right {
        left: 94%;
    }
}