/* oxygen-regular - latin */
@font-face {
	font-family: 'Oxygen';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/oxygen-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/oxygen-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/oxygen-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/oxygen-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('fonts/oxygen-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/oxygen-v14-latin-regular.svg#Oxygen') format('svg'); /* Legacy iOS */
}  

/* nunito-regular - latin */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/nunito-v20-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		 url('fonts/nunito-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('fonts/nunito-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('fonts/nunito-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
		 url('fonts/nunito-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		 url('fonts/nunito-v20-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}


  /* Archivo Black */
@font-face {
	font-family: "Archivo Black";
	src: url("fonts/ArchivoBlack-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Nunito", Verdana, sans-serif;
    margin: 0;
    width: 100%;
    background-color: #3609ff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

body,td,th {
    font-size: 100%;
	color: #ffffff;
}

h1 {
	font-size: 2em;
}

a {
	color: #ff3366;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #ffe600;
}

i {
	padding: 3em;
}

.desc {
	width: 65%;
	margin: auto;
	font-size: 145%;
	line-height: 160%;
	text-align: center;
	box-sizing: border-box;
}

.center {
	margin: 0 auto;
}

.clear {
	clear: both;
}

#footer {
	width: 65%;
	display: block;
	margin: auto;
	text-align: center;
	margin-bottom: 0;
	padding-top: 2.5%;
	padding-bottom: 1%;
}

.footer-nav a {
	padding: none;
	display: block;
	color: #3609ff;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
	font-family: 'Nunito', Verdana, sans-serif;
}

.footer-nav .icon {
	display: none;
}

@media not all and (display-mode: fullscreen) { /* Target browsers that don't fully support grid */
    
}

@media only screen and (max-width: 1600px){
	
}

@media only screen and (max-width: 1281px){
	i {
		padding: 2.2em;
}
}

@media only screen and (max-width: 961px){
	i {
		padding: 1.5em;
}
	#footer {
		width: 100%;
}
	.desc {
		font-size: 150%;
}
}

@media only screen and (max-width: 641px){
	h1 {
		line-height: 1.3em;
	}
	.desc {
		font-size: 130%;
}
}

@media only screen and (max-width: 500px){
	h1 {
		font-size: 1.2em;
	}
	i {
		padding: 1em;
}
	.desc {
		font-size: 105%;
		width: 95%;
		padding: 0;
}
}
