body,td,th {
	font-family: "Oxygen";
    font-size: 100%;
	color: #c0c0c0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
}

.clear {
	clear: both;
}

.center {
	margin: 0 auto;
}

a:link {
	color: #ff3366;
	text-decoration: none;
}

a:visited {
	color: #ff3366;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #cccccc;
}

a:active {
	text-decoration: none;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	margin-right: 12%;
	padding: 0;
	padding-top: 1%;
	overflow: hidden;
	background-color: #fff;
}

ul.nav li {
	float: right;
}

ul.nav li a {
  display: inline-block;
  color: #a6a6a6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Nunito';
  font-size: 17px;
}

ul.nav li a:hover {
	color: #737373;
	opacity: 1;
}

ul.nav li.icon {display: none;}

@media screen and (max-width: 650px) {
  ul.nav li:not(:first-child) {display: none;}
  ul.nav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 650px) {
  ul.nav.responsive {position: relative;}
  ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.nav.responsive li {
    float: none;
    display: inline;
  }
  ul.nav.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.cover-nav {
	list-style-type: none;
}

.cover-nav {
	float: left;
	padding-top: 1.4em;
}

.cover-nav a {
	font-size: 20px;
	color: #708090;
	margin-left: 5.5em;
	line-height: 300%;
	text-decoration: none;
}

.cover-nav a:hover {
	color: #a6a6a6;
	opacity: 1;
}

#logo:hover {
	text-decoration: none;
	color: #cccccc;
}

#logo {
	color: #ff3366;
	float: left;
	margin-left: 13%;
	font-size: 3em;
	font-family: "Holtwood One SC";
	font-weight: normal;
}

.corners {
	border-top-left-radius:	10px	10px;
	border-top-right-radius:	10px	10px;
	border-bottom-left-radius:	10px	10px;
	border-bottom-right-radius:	10px	10px;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive-thumb {
	margin-left: auto;
	margin-right: auto;
    padding: .5em;
	padding-bottom: 1.5em;
    float: left;
    width: 33.3%;
}

@media only screen and (max-width: 700px){
    .responsive-thumb {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive-thumb {
        width: 100%;
    }
}

#thumb-gallery {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	padding-bottom: 5em;
	border: 1px solid lightgrey;
	overflow: hidden;
}

#gallery {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	border: 1px solid lightgrey;
	overflow: visible;
}

#gallery  img{
	margin-bottom: 2em;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#intro-bg {
	background: url('images/giraffe_page-02.jpg') no-repeat;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
#intro-bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.intro-box{
	color: #708090;
	font-size: 18px;
	display: inline-block;
	height: 24%;
	width: 38%;
	padding: 5%;
	margin-top: 15%;
	margin-left: 35%;
	background-color: #ffffff;
}

#display {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 0.2em;
}

#about {
	color: #708090;
	font-size: 28px;
	height: 350px;
	padding: 80px;
	margin-left: 0;
	margin-right: auto;
	background-color: #ffffff;
}

#animation {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 110px;
	border: 1px solid lightgrey;
	background-color: #ffffff;
}

#footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 60px;
	padding-left: 60px;
}