body,td,th {
	font-family: "Oxygen";
    font-size: 100%;
	color: #c0c0c0;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
}

.clear {
	clear: both;
}

.center {
	margin: 0 auto;
}

a:link {
	color: #ff3366;
	text-decoration: none;
}

a:visited {
	color: #ff3366;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #cccccc;
}

a:active {
	text-decoration: none;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.navbar {
	list-style-type: none;
	position: fixed;
	height: 80px;
	margin: 0;
	padding: 0px;
	padding-top: 1%;
	overflow: hidden;
	background-color: #333;
	opacity: 0.6;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Nunito';
  font-size: 17px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

#logo:hover {
	text-decoration: none;
	color: #cccccc;
}
	
#logo {
	color: #ff3366;
	float: left;
	font-size: 4em;
	font-family: "Holtwood One SC";
	font-weight: normal;
	text-decoration: none;
}

#giraffe-slide, #container { width: 100%; }
#giraffe-slide {
	background: url('images/giraffe_page-02.jpg') 50% 0 no-repeat fixed;
	color: #ffffff;
	height: 100%;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: cover;
}

#moose-slide {
	background: url('../images-site/header-moose.jpg') 50% 0 no-repeat fixed;
	color: #ffffff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#intro {
	color: #708090;
	font-size: 18px;
	height: 200px;
	padding: 80px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	background-color: #ffffff;
}

#gallery {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 150px;
	padding-bottom: 55px;
	padding-left: 30px;
	padding-right: 30px;
	border: 1px solid lightgrey;
	background-color: #ffffff;
	overflow: hidden;
}

#about {
	color: #708090;
	font-size: 28px;
	height: 350px;
	padding: 80px;
	margin-left: 0;
	margin-right: auto;
	background-color: #ffffff;
}

#giraffe {
	background: url('../images/hco-01.jpg') 50% 0 no-repeat fixed;
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;	
	background-size: cover;
}

#animation {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 110px;
	border: 1px solid lightgrey;
	background-color: #ffffff;
}

#footer {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 60px;
	padding-left: 60px;
}